<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>12国一次能源强度与关系</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link rel="icon" href="../static/img/icon.jfif" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<header >
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">首页</a></li>
</ul>
</header>
    <div id="bbccaee1b73e47ab932935eadb31f24f" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_bbccaee1b73e47ab932935eadb31f24f = echarts.init(
            document.getElementById('bbccaee1b73e47ab932935eadb31f24f'), 'white', {renderer: 'canvas'});
        var option_bbccaee1b73e47ab932935eadb31f24f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u4e00\u6b21\u80fd\u6e90\u5f3a\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "Australia",
                    5.150979283
                ],
                [
                    "Bulgaria",
                    6.35695483
                ],
                [
                    "Brazil",
                    4.043844382
                ],
                [
                    "China",
                    7.104220001
                ],
                [
                    "Colombia",
                    1.790357
                ],
                [
                    "Egypt",
                    3.7143445230000003
                ],
                [
                    "United Kingdom",
                    3.0688781819999997
                ],
                [
                    "Japan",
                    3.8712439639999996
                ],
                [
                    "Mexico",
                    3.8531199939999996
                ],
                [
                    "Niger",
                    7.0747017020000005
                ],
                [
                    "New Zealand",
                    5.519838785
                ],
                [
                    "United States",
                    5.621145713
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "GDP\u589e\u52a0\u503c",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "Australia",
                    2.5331154469999997
                ],
                [
                    "Bulgaria",
                    1.8375211480000002
                ],
                [
                    "Brazil",
                    0.50396179
                ],
                [
                    "China",
                    7.299518921000001
                ],
                [
                    "Colombia",
                    4.728312246000001
                ],
                [
                    "Egypt",
                    2.915911879
                ],
                [
                    "United Kingdom",
                    2.607475906
                ],
                [
                    "Japan",
                    0.374719476
                ],
                [
                    "Mexico",
                    2.804340128
                ],
                [
                    "Niger",
                    7.529043067999999
                ],
                [
                    "New Zealand",
                    3.7155330710000003
                ],
                [
                    "United States",
                    2.451973035
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e00\u6b21\u80fd\u6e90\u5f3a\u5ea6",
                "GDP\u589e\u52a0\u503c"
            ],
            "selected": {
                "\u4e00\u6b21\u80fd\u6e90\u5f3a\u5ea6": true,
                "GDP\u589e\u52a0\u503c": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": true,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Australia",
                "Bulgaria",
                "Brazil",
                "China",
                "Colombia",
                "Egypt",
                "United Kingdom",
                "Japan",
                "Mexico",
                "Niger",
                "New Zealand",
                "United States"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5341\u4e8c\u56fd\u4e00\u6b21\u80fd\u6e90\u5f3a\u5ea6\u4e0eGDP\u7684\u5173\u7cfb"
        }
    ]
};
        chart_bbccaee1b73e47ab932935eadb31f24f.setOption(option_bbccaee1b73e47ab932935eadb31f24f);
    </script>
</body>
</html>
