<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>介绍</title>
</head>
<body style="background-image:url(https://p2.ssl.qhimgs1.com/sdr/400__/t011104131456036408.jpg); background-position: center center; background-size:cover;">
 <div style="background-color: azure;" >
  <div class="container">
    <h3>一次能源的能源强度水平和各国环境的关系（包括森林面积、二氧化碳排放等）</h3>
  <h4>数据来源:世界银行</h4>
	<p>能源强度表面使用多少能源来生产一个单位的经济产出，较低的比率表示使用较少的能量来产生一个单位的输出。本次报告想研究一次能源的使用率高低对环境的影响，包括森林面积、二氧化碳排放等</p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">HOME</a></p>
  </div>	</div>
<div class="row">
  <div class="col-lg-1 col-lg-offset-2">
 <img src="https://p3.ssl.qhimgs1.com/sdr/400__/t010101437c2b93d14d.jpg" alt="一次能源"width="400" height="300">
      <div class="caption">
        <h4>一次能源</h4>
        <p>项目主题</p>
        <p><a href="https://baike.so.com/doc/5327780-5562952.html" class="btn btn-primary" role="button">read more</a> </p>
      </div>
</div>
    <div class="col-lg-2 col-lg-offset-3">
 <img src="https://p3.ssl.qhimgs1.com/sdr/400__/t0114dffa3db09520b9.jpg" alt="世界银行"  width="400" height="300">
      <div class="caption">
        <h4>世界银行</h4>
        <p>项目的数据来源</p>
        <p><a href="http://datatopics.worldbank.org/world-development-indicators/themes/environment.html" class="btn btn-primary" role="button">read more</a> </p>
       </div>

  </div>


</div>



</body>
</html>